<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>PlanningPermiSMSion</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">
    <nav>
      <ul class="nav nav-pills pull-right">
        <li role="presentation" class="active">
          <%= link_to "Home", root_path %>
        </li>
        <% if user_signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to "Sign in", new_user_session_path %></li>
          <li><%= link_to "Sign up", new_user_registration_path %></li>
        <% end %>
      </ul>
    </nav>
    <h3 class="text-muted">Planning PermiSMSion</h3>
  </div>

  <%= yield %>

  <footer class="footer">
    <p>&copy; Phil Nash 2014</p>
  </footer>

  <%= javascript_include_tag 'application' %>
</body>
</html>
